<ion-header>
  <ion-toolbar>
    <ion-title>Drivers</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-content padding>
    <ion-item [routerLink]="'/driverslist'" routerDirection="forward">
      <ion-icon name="list-box"></ion-icon>
      <ion-label>&nbsp;&nbsp;Driver's List</ion-label>
    </ion-item>
    <ion-item [routerLink]="'/adddriver'" routerDirection="forward">
      <ion-icon name="person-add"></ion-icon><ion-label>&nbsp;&nbsp;Add Driver</ion-label>
    </ion-item>
  </ion-content>
</ion-content>
