<ion-header>
  <ion-toolbar text-center>
    <ion-title>Login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-text text-center color="primary">
    <h2>TrackNGo</h2>
  </ion-text>
  <form #loginForm="ngForm" method="POST" (ngSubmit)="login()" autocomplete="off">
   <ion-row>
     <ion-col>
       <ion-list inset>
         <ion-item>
            <ion-label position="floating">Enter your mobile/email</ion-label>
            <ion-input name="username" id="loginField"
                      type="text" required [(ngModel)]="username" #email></ion-input>
         </ion-item>
         <ion-item>
            <ion-label position="floating">Enter Password</ion-label>
            <ion-input name="password" id="passwordField"
                      type="password" required [(ngModel)]="password"></ion-input>
         </ion-item>
       </ion-list>
     </ion-col>
   </ion-row>
   <ion-row>
     <ion-col text-center>
       <div *ngIf="error" class="alert alert-danger">{{error}}</div>
       <ion-button color="secondary" full type="submit"
               [disabled]="!loginForm.form.valid">Login
       </ion-button>
     </ion-col>
   </ion-row>
 </form>
</ion-content>
