<ion-card>
  <ion-card-header>
    <ion-card-subtitle>
      Login
    </ion-card-subtitle>
  </ion-card-header>
  <ion-card-content padding>
      <form>
        <ion-item>
          <ion-label>
            Pickup
          </ion-label>
          <ion-textarea readonly>
          </ion-textarea>
        </ion-item>
        <ion-item>
          <ion-label>
            Drop
          </ion-label>
          <ion-textarea readonly></ion-textarea>
        </ion-item>
        <ion-item>
          <ion-label>Time</ion-label>
          <ion-datetime display-format="HH:mm:ss" picker-format="HH:mm:ss"></ion-datetime>
        </ion-item>
        <div text-right>
          <ion-button>Submit</ion-button>
          <ion-button>Cancel</ion-button>
        </div>
        </form>
        
  </ion-card-content>
</ion-card>

