<ion-header>
  <ion-toolbar>
    <ion-title>Employees</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-content padding>
    <ion-item [routerDirection]="'employee'" href="/drivers/employeelist" (click)="gotoAddress()">
      <ion-icon name="list-box"></ion-icon>
      <ion-label>&nbsp;&nbsp;Employee's List</ion-label>
    </ion-item>
    <ion-item [routerDirection]="'drivers'" href="/drivers/addemployee">
      <ion-icon name="person-add"></ion-icon><ion-label>&nbsp;&nbsp;Add Employee</ion-label>
    </ion-item>
  </ion-content>
</ion-content>
