<ion-header>
    <ion-toolbar>
        <ion-title>Helpdesk</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content padding>
    <form [formGroup]="helpDesk" (ngSubmit)="postMessage()">
        <ion-item>
            <ion-label>Problem Description : </ion-label>
            <ion-textarea formControlName="problem"></ion-textarea>
        </ion-item>
        <ion-button type="submit" [disabled]="!helpDesk.valid" align-self-center="true">Submit</ion-button><ion-label>{{dataToStore.success}}</ion-label>
    </form>
</ion-content>
