<ion-header>
  <ion-toolbar>
    <ion-title>Add Employee</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <form [formGroup]="addEmp" (ngSubmit)="logForm()">
    <ion-item>
      <ion-label>Employee ID : </ion-label>
      <ion-input type="text" formControlName="empId"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>First Name : </ion-label>
      <ion-input type="text" formControlName="firstName"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Last Name : </ion-label>
      <ion-input type="text" formControlName="lastName"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Phone Number : </ion-label>
      <ion-input type="number" formControlName="phoneNumber"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Address</ion-label>
      <ion-textarea formControlName="address"></ion-textarea>
    </ion-item>
    <ion-button type="submit" [disabled]="!addEmp.valid" align-self-center="true">Submit</ion-button>
  </form>
</ion-content>
<div padding *ngIf="success" class="message-area">
  Data Saved successfully!!.
</div>
