<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Schedules
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-grid>
    <ion-row nowrap class="ion-date-row">
      <ion-col *ngFor="let date of dates"  text-center>
        <ion-badge color="{{getDayClass(date)}}">{{date.getDate() > 9 ? date.getDate():'0'+date.getDate()}}</ion-badge>
        <small>{{getDayName(date.getDay())}}</small>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-card *ngFor="let date of dates">
      <ion-card-header>
        <ion-card-subtitle>
            {{date | date : 'EEE, MMM dd, yyyy'}} 
        </ion-card-subtitle>
      </ion-card-header>
      <ion-card-content *ngFor="let schedule of getSchedules(date)">
        
      </ion-card-content>
    </ion-card>
 </ion-content>
